body{
    background-color:#f7efef;
}

@media (max-width: 768px){
    .description{
        display: block !important;
    }
    .img_2{
        width: 100%;
    }
    .img_2{
        width: 100% !important;
    }
}